body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344053;
    display: flex;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
}

.menu {
    padding-left: 432px;
    color: #fff;
}

.menu li {
    float: left;
    line-height: 60px;
    margin-right: 40px;
    font-size: 16px;
}

.main {
    display: block;
}

.title-container {
    width: 100%;
    height: calc(100vh - 60px);
    background: url(../img/boy.png)90% 100%/auto 85% no-repeat fixed, url(../img/bg.jpg) center/cover no-repeat;
}

.title-item {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title-item h1 {
    font-size: 60px;
    font-weight: bold;
}

.title-item h4 {
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #79818d;
}

.title-item input {
    margin: 55px 14px 0px 14px;
    color: #6d7682;
    height: 40px;
    border: 3px solid #6d7682;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 14px;
    font-weight: bold;
}

.aboutMe-container {
    width: 100%;
    height: 70;
}

.aboutMe-title h2:after {
    content: "";
    display: block;
    width: 100px;
    border-bottom: 5px solid #e68300;
    margin: 30px auto;
}

.aboutMe-title h2 {
    color: #263244;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 70px;
}



.aboutMe-container img {
    display: block;
    margin: 65px auto 25px auto;
}

.aboutMe-container span {
    display: block;
    color: #3f495a;
    font-size: 16px;
    text-align: left;
    margin: 0px 25% 40px 25%;
}

.aboutMe-container input {
    display: block;
    margin: 0px auto 55px auto;
    color: #6f707e;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid #6f707e;
    border-radius: 9px;
    padding: 10px 11px 10px 35px;
    background: url(../img/input_icon.png) 11px 11px/auto 45% no-repeat scroll
}

.skills_container {
    width: 100%;
    height: 55vh;
    background: url(../img/skill-bg.jpg)center/cover no-repeat;
}

.skills-title h2 {
    color: #263244;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
}

.skills-title h2:after {
    content: "";
    display: block;
    width: 100px;
    border-bottom: 5px solid #e68300;
    margin: 30px auto;
}

.skills-item {
    text-align: center;
    display: flex;
    margin-top: 100px;
}

.design {
    /*  margin-right: 180px; */
    width: 12%;
    margin: 0 auto;
}

.design h3 {
    color: #e68300;
    padding: 40px 0px 20px 0px;
    font-size: 16px;
    font-weight: bold;
}

.design span {
    color: #3f495a;
    font-size: 16px;
}

.develop {
    margin: 0 auto;
    width: 12%;
}

.develop h3 {
    color: #e68300;
    padding: 40px 0px 20px 0px;
    font-size: 16px;
    font-weight: bold;
}

.develop span {
    color: #3f495a;
    font-size: 16px;
}

.ceo {
    margin: 0 auto;
    width: 12%;
}

.ceo h3 {
    color: #e68300;
    padding: 40px 0px 20px 0px;
    font-size: 16px;
    font-weight: bold;
}

.ceo span {
    color: #3f495a;
    font-size: 16px;
}

.marketing {
    margin: 0 auto;
    width: 12%;
}

.marketing h3 {
    color: #e68300;
    padding: 40px 0px 20px 0px;
    font-size: 16px;
    font-weight: bold;
}

.marketing span {
    color: #3f495a;
    font-size: 16px;
}

.cases {
    width: 100%;
    height: 120vh;
}

.cases-title h2 {
    color: #263244;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
}

.cases-title h2:after {
    content: "";
    display: block;
    width: 80px;
    border-bottom: 5px solid #e68300;
    margin: 30px auto 35px auto;
}

.cases-title span {
    display: block;
    text-align: center;
    color: #3f495a;
    font-size: 16px;
}

.site-preview {
    margin: 40px auto;
    height: 600px;
    width: 1239px;
    overflow: scroll
}

.about-ws {
    display: flex;
    width: 1239px;
    margin: 0 auto;
}

.order {
    margin-left: auto;
}

.order span {
    color: #263244;
    font-size: 20px;
    font-weight: bold;
}

.order a {
    font-size: 16px;
    color: #263244;
}

.about-item-2 {
    text-align: left;
    width: 50%;
    margin-left: 100px
}

.about-item-2 h4 {
    color: #263244;
    font-size: 20px;
    font-weight: bold;
}

.about-item-2 span {
    font-size: 17px;
    color: #263244;
}

.site-button {
    width: 1239px;
    margin: 0 auto;
}

.site-button button {
    background: #63b5ae;
    border: 3px solid #63b5ae;
    border-radius: 10px;
    padding: 15px 42px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.calculator {
    text-align: center;
    margin: 10vh 0;
    width: 100%;
    height: 80vh;
}

.calculator-title h2 {
    color: #1c2534;
    font-size: 35px;
    font-weight: bold;
}

.calculator-item {
    width: 50%;
    margin: 55px auto 0 auto;
    text-align: left;
}

.calculator-type {
    margin-bottom: 50px;
}

.calculator-type span {
    font-size: 25px;
    font-weight: bold;
    color: #1c2534;
}

.calculator-type select {
    width: 100%;
    height: 60px;
    background-color: #eee;
    margin-top: 25px;
    color: #737373;
    padding-left: 25px;
    font-size: 16px;
}

.calculator-design {
    margin-bottom: 50px;
}

.calculator-design span {
    font-size: 25px;
    font-weight: bold;
    color: #1c2534;
}

.calculator-design select {
    width: 100%;
    height: 60px;
    background-color: #eee;
    margin-top: 25px;
    color: #737373;
    padding-left: 25px;
    font-size: 16px;
}

.calculator-adaptability {
    margin-bottom: 50px;
}

.calculator-adaptability span {
    font-size: 25px;
    font-weight: bold;
    color: #1c2534;
}

.calculator-adaptability select {
    width: 100%;
    height: 60px;
    background-color: #eee;
    margin-top: 25px;
    color: #737373;
    padding-left: 25px;
    font-size: 16px;
}

.calculator-adaptability:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 3px solid #d1d1d1;
    margin: 30px auto 35px auto;
}

.calculator-results {
    width: 100%;
}

.calculator-results p {
    font-size: 20px;
    font-weight: 700;
    color: #1c2534;
    margin-bottom: 27px
}

.calculator-results span {
    float: right;
    font-size: 30px;
}

.statistics {
    width: 100%;
    height: 60vh;
    background: url(../img/stat-bg.jpg)center/cover no-repeat;
    text-align: center;
}

.statistics-title h3 {
    padding-top: 100px;
    font-size: 30px;
    font-weight: bold;
    color: #323e4f;
}

.statistics-title h3:after {
    content: "";
    display: block;
    width: 100px;
    border-bottom: 5px solid #e68300;
    margin: 30px auto;
}

.statistics-item {
    width: 90%;
    display: flex;
    margin: 88px auto;
}

.stat-item1 {
    width: 12%;
    margin: 0 auto;
}

.stat-item1 p {
    font-size: 30px;
    font-weight: 800;
    color: #323e4f;
    margin-bottom: 30px;
}

.stat-item1 span {
    font-size: 16px;
    font-weight: bold;
    color: #323e4f;
}

.stat-item2 {
    width: 12%;
    margin: 0 auto;
}

.stat-item2 p {
    font-size: 30px;
    font-weight: 800;
    color: #323e4f;
    margin-bottom: 30px;
}

.stat-item2 span {
    font-size: 16px;
    font-weight: bold;
    color: #323e4f;
}

.stat-item3 {
    width: 12%;
    margin: 0 auto;
}

.stat-item3 p {
    font-size: 30px;
    font-weight: 800;
    color: #323e4f;
    margin-bottom: 30px;
}

.stat-item3 span {
    font-size: 16px;
    font-weight: bold;
    color: #323e4f;
}

.stat-item4 {
    width: 12%;
    margin: 0 auto;
}

.stat-item4 p {
    font-size: 30px;
    font-weight: 800;
    color: #323e4f;
    margin-bottom: 30px;
}

.stat-item4 span {
    font-size: 16px;
    font-weight: bold;
    color: #323e4f;
}

.review {
    width: 100%;
    height: 50%;
    text-align: center;
}

.review-title h2 {
    padding-top: 100px;
    font-size: 30px;
    font-weight: bold;
    color: #243042;
}

.review-title h2:after {
    content: "";
    display: block;
    width: 85px;
    border-bottom: 5px solid #e68300;
    margin: 30px auto;
}

.review-item img {
    margin: 30px 0 40px 0;
}

.review-item span {
    display: block;
    width: 50%;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    color: #243042;
    line-height: 22px;
    margin-bottom: 35px;
}

.contact {
    width: 100%;
    height: 80vh;
    background: url(../img/contact-bg.jpg)center/cover no-repeat fixed;
    text-align: center;
}

.contact-title h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-top: 100px;
}

.contact-title h2:after {
    content: "";
    display: block;
    width: 100px;
    border-bottom: 5px solid #e68300;
    margin: 30px auto;
}

.contact-title span {
    font-size: 16px;
    color: #fff;
}

.contact-item {
    width: 30%;
    display: flex;
    margin: 40px auto;
}

.contact-address {
    width: 30%;
}

.contact-address span {
    display: block;
    color: #fff;
    margin-top: 25px;
}

.contact-email {
    width: 30%;
}

.contact-email span {
    display: block;
    color: #fff;
    margin-top: 25px;
}

.contact-phone {
    width: 30%;
}

.contact-phone span {
    display: block;
    color: #fff;
    margin-top: 25px;
}

.contact-form {
    width: 100%;

}

.contact-form h3 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.contact-form input {
    width: 15%;
    background: #d2d6dc;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 13px;
    margin: 45px 15px 15px;
}

.contact-message {
    width: 31.7%;
    resize: none;
    padding: 10px 0 0 13px;
    background: #d2d6dc;
    font-size: 16px;
    font-weight: bold;
}

.submit input {
    display: block;
    width: 7%;
    margin: 30px auto;
    background: none;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 20px 20px;
    color: #fff;
}

.contact-icons {
    width: 9%;
    display: flex;
    margin: auto
}

.contact-tg {
    width: 100%;
    margin: auto;
}

.contact-tg img {
    width: 40px;
    height: 40px
}

.contact-inst {
    width: 100%;
    margin: auto;
}

.contact-inst img {
    width: 40px;
    height: 40px
}

.footer {
    position: relative;
    height: 10vh;
    background: #354051;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: auto;
}

.footer span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
}
